[submodule "Db_Client_Feedback"]
	path = Db_Client_Feedback
	url = https://github.com/utkarshanik/Db_Client_Feedback
[submodule "Admin_Dashboard_Client_Feedback"]
	path = Admin_Dashboard_Client_Feedback
	url = https://github.com/utkarshanik/Admin_Dashboard_Client_Feedback
[submodule "Client_Feedback_Sytem"]
	path = Client_Feedback_Sytem
	url = https://github.com/utkarshanik/Client_Feedback_Sytem
